@model List<Lab3.Models.Person>

@{
    ViewData["Title"] = "Last 10 Added Persons";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>

<h1>@ViewData["Title"]</h1>
<br />
<table class="table">
    <tr>
        <td>
            First Name
        </td>
        <td>Last Name</td>
        <td>Date of Birth</td>
        <td>Age</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.DateOfBirth.ToString("MM/dd/yyyy")</td>
            <td>@item.Age</td>
        </tr>
    }
</table>