@model Lab3.Models.Person

@{
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>

@if (Model != null)
{
    <h2>Person</h2>

    <span>Name: </span>@Model.FirstName<span> </span>@Model.LastName
    <br />
    <span>
        Birth Date: 
    </span>@Model.DateOfBirth.ToString("MM/dd/yyyy")
    <br />
    <span>
        Age:
    </span>@Model.Age
    <br />
}
else
{
    < span >
        No product found
    </ span >
}
<br />
<a asp-action="AddPerson" asp-controller="Home" class="btn btn-info">Add a new Person</a>
@if (ViewData["RemoveEnabled"].Equals(true))
{
    <a asp-action="EditPerson" asp-controller="Home" asp-route-id="@Model.ID" class="btn btn-primary">Edit this Person</a>
    <a asp-action="RemovePerson" asp-controller="Home" asp-route-id="@Model.ID" class="btn btn-danger">Remove this Person</a>
}


